{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
  <!-- Contenido de la página principal --> 
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <a href="{{url_for("views.create_vm")}}" class="card-link text-decoration-none">
                <div class="card text-center border rounded d-flex align-items-center justify-content-center bg-primary square-card">
                    <i class="bi bi-plus-lg text-white"></i>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
