<div class="px-3 py-2 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="{{ url_for('views.home')}}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <i class="bi bi-bootstrap" style="font-size: 2rem; color: white;"></i>
      </a>

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a href="#" class="nav-link text-secondary">
            <i class="bi bi-house-door" style="font-size: 2rem;"></i>
            Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-speedometer2" style="font-size: 2rem;"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-table" style="font-size: 2rem;"></i>
            Orders
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-grid" style="font-size: 2rem;"></i>
            Products
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-people-circle" style="font-size: 2rem;"></i>
            Customers
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
