<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi-terminal-plus me-2"></i>Crear Maquina virtual</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
            <div class="modal-body">
                <div class="container">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.nombre.label(class="form-control-label") }}
                            {{ form.nombre(class="form-control") }}
                            {% if form.nombre.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.nombre.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.so.label(class="form-label") }}
                            {{ form.so(class="form-control") }}
                            {% if form.so.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.so.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-check">
                            {{ form.pers_datos.label(class="form-check-label") }}
                            {{ form.pers_datos(class="form-check-input") }}
                            {% if form.pers_datos.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.pers_datos.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>