{% extends "base.html" %}

{% block content %}
<main class="form-signin w-100 m-auto mx-auto" style="max-width: 500px;">
    <form method="POST">
        {{ form.hidden_tag() }}
        <i class="bi-cloud-haze2-fill me-2" style="font-size: 7rem; color: black;"></i>
        <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>

        <div class="form-floating">
            {{ form.username(class="form-control", id="floatingInput", placeholder="name@example.com") }}
            <label for="floatingInput">{{ form.username.label }}</label>
        </div>

        <div class="form-floating">
            {{ form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
            <label for="floatingPassword">{{ form.password.label }}</label>
        </div>

        <div class="form-check text-start my-3">
            {{ form.remember_me(class="form-check-input", id="flexCheckDefault") }}
            <label class="form-check-label" for="flexCheckDefault">
                {{ form.remember_me.label }}
            </label>
        </div>

        {{ form.submit(class="btn btn-primary w-100 py-2") }}

        <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </form>
    <div class="text-center mt-3">
        <p>No tienes una cuenta? <a href="{{ url_for('users.register') }}">Registrarse</a></p>
    </div>
</main>
{% endblock %}
