{% extends "base.html" %}

{% block content %}
<main class="form-signin w-100 m-auto mx-auto" style="max-width: 500px;">
    <form method="POST">
        {{ form.hidden_tag() }}
        <i class="bi-cloud-haze2-fill me-2" style="font-size: 7rem; color: black;"></i>
        <h1 class="h3 mb-3 fw-normal">Registro</h1>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <div class="form-floating">
            {{ form.username(class="form-control", id="floatingUsername", placeholder="Username") }}
            <label for="floatingUsername">{{ form.username.label }}</label>
        </div>

        <div class="form-floating">
            {{ form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
            <label for="floatingPassword">{{ form.password.label }}</label>
        </div>

        <div class="form-floating">
            {{ form.password2(class="form-control", id="floatingPassword2", placeholder="Confirm Password") }}
            <label for="floatingPassword2">{{ form.password2.label }}</label>
        </div>

        {{ form.submit(class="btn btn-primary w-100 py-2") }}

        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
    </form>
</main>
{% endblock %}
