Package: dumb-init
Version: 1.2.5
Architecture: amd64
Maintainer: Chris Kuehl <ckuehl@yelp.com>
Installed-Size: 85
Section: utils
Priority: extra
Homepage: https://github.com/Yelp/dumb-init
Description: wrapper script which proxies signals to a child
 dumb-init is a simple process supervisor and init system designed to run
 as PID 1 inside minimal container environments (such as Docker).
 .
 Lightweight containers have popularized the idea of running a single
 process or service without normal init systems like systemd or sysvinit.
 However, omitting an init system often leads to incorrect handling of
 processes and signals, and can result in problems such as containers
 which can't be gracefully stopped, or leaking containers which should
 have been destroyed.
 .
 dumb-init acts as PID 1 and immediately spawns your command as a child
 process, taking care to properly handle and forward signals as they are
 received.
